<div class="container">
  <h1>Update Post</h1>

  <a href="#" routerLink="/students" class="btn btn-primary">Back</a>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="card">
      <div class="card-body shadow shadow-lg" *ngIf="student" >
        <form [formGroup]="form" (ngSubmit)="submit()">

          <div class="form-group">
            <label for="fname">First Name:</label>
            <input
              formControlName="fname"
              id="fname"
              type="text"
              [(ngModel)]="student.fname"
              class="form-control">
            <div *ngIf="f['fname'].touched && f['fname'].invalid" class="alert alert-danger">
              <div *ngIf="f['fname'].errors && f['fname'].errors['required']">First name is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="lname">Last Name</label>
            <textarea
              formControlName="lname"
              id="lname"
              type="text"
              [(ngModel)]="student.lname"
              class="form-control">
            </textarea>
            <div *ngIf="f['lname'].touched && f['lname'].invalid" class="alert alert-danger">
              <div *ngIf="f['lname'].errors && f['lname'].errors['required']">Last name is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input
              formControlName="age"
              id="age"
              type="text"
              [(ngModel)]="student.age"
              class="form-control  "
              ng-disabled="all"
            >


            <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
              <div *ngIf="f['age'].errors && f['age'].errors['required']">age is required.</div>
            </div>
          </div>

           <div class="form-group">
            <label for="room_class">Room Class</label>
            <input
              formControlName="room_class"
              id="room_class"
              type="text"
              [(ngModel)]="student.room_class"
              class="form-control  "
              ng-disabled="all"
            >


            <div *ngIf="f['room_class'].touched && f['room_class'].invalid" class="alert alert-danger">
              <div *ngIf="f['room_class'].errors && f['room_class'].errors['required']">room class is required.</div>
            </div>
          </div>
         

           
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid"> <i class="fa-solid fa-arrow-pointer"></i> Update</button>
        </form>
      </div>

    </div>

  </div>

</div>

</div>
